.instructorsListPage.pageContainer
  .wrapper
    .mainSection
      .whiteContainer
        .head Instructors
        .body
          - @instructors.each do |instructor|
            %ul
              %li= link_to instructor.email, instructor
          .instructors