.instructorPage.pageContainer
  .wrapper
    .mainSection
      .row-fluid
        .span4
          .memberPic.whiteContainer
            %figure
              = image_tag "member.jpg"
        .span8
          .instructorInfo.WhiteContainer
            .head Personal Info
            .body