<h2> List of all Dojos </h2>
<% @dojos.each do |dojo| %>
<ul>
		<li>
			<%= link_to dojo.name, dojo %>
		</li>
		<%= link_to image_tag(dojo.avatar_url(:medium)), dojo %>
</ul>
<% end %>

<h2> List of all Instructors </h2>
<% @instructors.each do |instructor| %>
<ul>
		<li><%= link_to instructor.email, instructor %></li>
</ul>
<% end %>