.homePage
  .coverImage
    =image_tag "cover.jpg"
    .contentContainer
      .content
        .text Shinkyokushin will be expanding its training program nationwide starting today.
        .btn Learn More
  .wrapper
    .dojosList.whiteContainer
      .head
        Dojos
      .body
        .dojos
          - @dojos.each do |dojo|
            .dojo
              = link_to image_tag(dojo.avatar_url(:medium)), dojo
              = link_to dojo.name, dojo, :class => "name"

    .mainSection
      .news.whiteContainer
        .head
          News
        .body
          .newsList.row-fluid
            .article.span3
              .title Shinkyoku Launch Date
              .date 12/31/2013
              .summary Lorem Ipsum. Proin gravida nibh ve vl velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
              .verticalSeparator
            .article.span3
              .title Shinkyoku Traingin Program
              .date 12/31/2013
              .summary Lorem Ipsum. Proin gravida nibh ve vl velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            .article.span3
              .title Kyoku Dojo Soft Launch
              .date 12/31/2013
              .summary Lorem Ipsum. Proin gravida nibh ve vl velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            .article.span3
              .title Shinkyo Dojo Soft Launch
              .date 12/31/2013
              .summary Lorem Ipsum. Proin gravida nibh ve vl velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      / %h2 List of all Instructors
      / - @instructors.each do |instructor|
      /   %ul
      /     %li
      /       = link_to instructor.email, instructor