.dojosListPage.pageContainer
  .wrapper
    .mainSection
      .whiteContainer
        .head Dojos
        .body
          - @dojos.each do |dojo|
            %h2
              = link_to image_tag(dojo.avatar_url(:small)), dojo
              = dojo.name
              = dojo.instructor.full_name
              = dojo.users.count
          .dojos