.memberPage.pageContainer
  .wrapper
    .mainSection
      .row-fluid
        .span4
          .memberPic.whiteContainer
            %figure
              =image_tag "member.jpg"
        .span8
          .memberInfo.whiteContainer
            .head Personal Info
            .body
              .name.list
                %span.title Name:
                %span.info Georges St. Pierre
              .nickName.list
                %span.title Nickname:
                %span.nickName Rush
              .from.list
                %span.title From:
                %span.info Montreal, Quebec Canada
              .age.list
                %span.title Age:
                %span.info 32
              .height.list
                %span.title Height:
                %span.info 5'11" (180cm)
              .weight.list
                %span.title Weight:
                %span.info 170lb (77kg)
          .skills.whiteContainer
            .head Skills Breakdown
            .body
              .intro.list Results are compiled based on results from 27 fights.
              .record.list
                %span.title Record
                %span.info 24-2-0
              .summary.list
                %span.title Summary
                %span.info Athleticism, very well rounded, discipline