.instructorDashboard.pageContainer
  .wrapper
    .mainSection
      .whiteContainer
        .head Instructor Dashboard
        .body
          = link_to 'Add dojo', new_dojo_path, :class => "btn"
          = link_to 'Edit profile', edit_user_registration_path, :class => "btn"

          %p
            %br

          %table{ style: "width: 100%;" }
            %tr
              %th{ style: 'text-align: left;' } Name
              %th{ style: 'text-align: left;' } All Students
              %th{ style: 'text-align: left;' } Active Students
            - @dojos.each do |dojo|
              %tr
                %td= dojo.name
                %td= dojo.users.size
                %td Comming Soon
