.membersListPage.pageContainer
  .wrapper
    .mainSection
      .whiteContainer
        .head Members
        .body
          / - @members.each do |member|
          /   %ul
          /     %li= link_to member.email, member
          .members
            


